name: Deploy Backend to EC2

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Publish app
        run: dotnet publish -c Release -o publish

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend
          path: publish/

  deploy:
        runs-on: ubuntu-latest
        needs: build
      
        steps:
          - name: Download artifact
            uses: actions/download-artifact@v4
            with:
              name: backend
              path: ./publish
      
          - name: List downloaded files
            run: ls -R ./publish
      
          - name: Copy published files to EC2
            uses: appleboy/scp-action@v0.1.4
            with:
              host: ${{ secrets.EC2_HOST }}
              username: ${{ secrets.EC2_USER }}
              key: ${{ secrets.EC2_KEY }}
              source: "publish/*"
              target: "/var/www/api"
      
          - name: Restart API service
            uses: appleboy/ssh-action@v0.1.10
            with:
              host: ${{ secrets.EC2_HOST }}
              username: ${{ secrets.EC2_USER }}
              key: ${{ secrets.EC2_KEY }}
              script: |
                sudo systemctl restart carnetgo
