deploy:
  runs-on: ubuntu-latest
  needs: build

  steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: backend
        path: ./publish

    - name: List downloaded files
      run: ls -R ./publish

    - name: Copy published files to EC2
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        source: "publish/*"
        target: "/var/www/api"

    - name: Restart API service
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          sudo systemctl restart carnetgo
